<!DOCTYPE html>
<html lang="en">
<head>
    <title> {{this.title}} </title>
    <link rel="stylesheet" href="/public/css/main.css"/>
    <script type = "text/javascript" src = "/public/jquery.js"></script>
</head>
<body>
    <main>
        {{{body}}}
    </main>
</body>

</html>