
    <h1>Upload a recipe</h1>
    <form id="form_id" method = "POST">
      
      <label for="Userphrase">recipe name:</label>
      <input type = "text" name = "recipeName" id = "recipeName"><br>
      
      <label for="ing">ingredients:(enter one ingredients at a time, then click the button below it)</label>
      <input type = "text" name = "ingredients" id = "ing"><br>
      <input type = "text" name = "quantity" id = "quantity"><br>
      <input type = "button" value = "add ingredient" id="checkIng" /><br>
      <ol id="ingList"></ol>

      <label for="steps">steps:(enter one step at a time, then click the button below it)</label>
      <input type = "text" name = "steps" id = "step"><br>
      <input type = "button" value = "add step" id="checkStep" /><br>
       <ol id="stepList"></ol>
       
      <label for="servings">servings:</label>
      <input type = "text" name = "servings" id = "serving"><br>

      <label for="chef">chef:</label>
      <input type = "text" name = "chef" id = "chef"><br>

      <label for="category">category:</label>
      <input type = "text" name = "category" id = "category"><br>

      <label for="timeList">time :(change it to drop down menu later)</label>
      <select id="timeList">
        <option value=0>select time</option>
        <option value=5>5 min or less</option>
        <option value=10>10 min or less</option>
        <option value=15>15 min or less</option>
        <option value=20>20 min or less</option>
        <option value=25>25 min or less</option>
        <option value=30>30 min or less</option>
        <option value=35>35 min or less</option>
        <option value=40>40 min or less</option>
        <option value=45>45 min or less</option>
        <option value=50>50 min or less</option>
        <option value=55>55 min or less</option>
        <option value=60>60 min or more</option>

      </select><br>
      
      <input type = "submit" value = "submit" id="displayObj"/><br>
      <input type="button" onclick="location.href='/search';" value="go to search page" />


    </form>

<script type = "text/javascript" src = "/public/palindrome.js"></script>
 
