
    <h1>Upload a Recipe</h1>
    <form id="form_id" method = "POST">
      
      <label for="Userphrase">Recipe Name:</label>
      <input type = "text" name = "recipeName" id = "recipeName"><br>
      
      <label for="ing">Ingredients: (enter one ingredients at a time, then click the button below to add)</label>
      <input type = "text" name = "ingredients" id = "ing"><br>
      <input type = "text" name = "quantity" id = "quantity"><br>
      <input type = "button" value = "add ingredient" id="checkIng" /><br>
      <ol id="ingList"></ol>

      <label for="steps">Steps: (enter one step at a time, then click the button below to add)</label>
      <input type = "text" name = "steps" id = "step"><br>
      <input type = "button" value = "add step" id="checkStep" /><br>
       <ol id="stepList"></ol>
       

      <label for="serving">Servings:</label>
        <select id="serving">
        <option value="0">Select Servings:</option>
        <option value="2 people or less">2 people or less</option>
        <option value="4 people or less">4 people or less</option>
        <option value="8 people or less">8 people or less</option>
        <option value="12 people or more">12 people or more</option>

      </select><br>

      <label for="chef">Chef (optional):</label>

      <input type = "text" name = "chef" id = "chef"><br>

      <label for="category">Category:</label>
      <select id="categories">
        <option value="0">Select Category:</option>
        <option value="breakfast">breakfast</option>
        <option value="lunch">lunch</option>
        <option value="dinner">dinner</option>
        <option value="snack">snack</option>

      </select><br>

      <label for="timeList">Time: (change it to drop down menu later)</label>

      <select id="timeList">
        <option value=0>Select Time</option>
        <option value=5>5 min or less</option>
        <option value=10>10 min or less</option>
        <option value=15>15 min or less</option>
        <option value=20>20 min or less</option>
        <option value=25>25 min or less</option>
        <option value=30>30 min or less</option>
        <option value=35>35 min or less</option>
        <option value=40>40 min or less</option>
        <option value=45>45 min or less</option>
        <option value=50>50 min or less</option>
        <option value=55>55 min or less</option>
        <option value=60>60 min or more</option>

      </select><br>
      
      <input type = "submit" value = "submit" id="displayObj"/><br>
      <input type="button" onclick="location.href='/search';" value="go to search page" />
      


    </form>

<script type = "text/javascript" src = "/public/palindrome.js"></script>
 
