
body {
  background-color: peachpuff;
  color:#722f37;
}

title {
  text-align: center;  
}
h1{
  text-align: center;
  font-size: 30pt;
  color:#722f37;
}

li.is-palindrome{
  color: blue;
}

li.not-palindrome{
  color: red;
}
label.attemptsLabel{
  text-align: left;
  color: brown;
  font-size: 20pt;
  font-family: 'Times New Roman';
}
h2{
  font-size: 20pt;
}
footer{
  text-align: center;
}
label {
  
  display: block;
  text-align: center;
  font-size: 15pt;
}
p {
  font-size: 15pt;
  color: #4f3222;
  text-align: center;
}

input{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
}

input[type = "submit"]{
  background-color: #123C69;
  color: white;
  height: 20pt;
  font-variant: small-caps;
  font-size: 15px;
}

select{
  display: block;
  margin: 0 auto;
  width: 15%;
}

/*social media*/
#share-buttons img {
  width: 35px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
  }

.newUser-form{
  margin: 0 auto;
  position: relative;
  width: 75%;
}  

.login-form{
  margin: 0 auto;
  position: relative;
  width: 55%;
}  

.btn-default{
  display: block;
  width: 25%;
  margin: 0 auto;
  font-variant: small-caps;
  font-size: 12px;
  /*margin-left: 350px; */
}

.button{
  font-variant: small-caps;
}