
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>{{this.error}}</title>
    
  </head>

  <body>

    <main>
        <h1>Error: {{this.errMsg}}</h1>
        <a href="/" title = "try another text"> try another text</a>
<link rel="stylesheet" href="public/css/error.css"/>
       </main>
    <!-- page content -->
  </body>

</html>