<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>{{this.title}}</title>
    
  </head>

  <body>

    <main>
        <h1>{{this.title}}</h1>
        <article>
          {{this.name}}
          {{this.steps}}             
             <a href="/" title = "try another text"> try another text</a>
        </article>
       </main>
    <!-- page content -->
  </body>

</html>